
/*******************************TAG SELECTORS********************************/


body {margin: 0;
text-align: center;}

h1{
  text-align:center;
  margin: 0 auto 0;
  font-family: Merienda, cursive;
  color: #66BFBF;
  font-size: 3.5rem;
  margin-top: 30px;
}

h2{
  text-align:center;
  margin: 0 auto 0;
  font-family: Merienda, cursive;
  color: #66BFBF;
  font-size: 1.5rem;
  margin-top: 30px;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-size: 40px;
  font-family: helvetica, sans-serif;
  margin-top: 20px;
}


h4{
  color: #11999E;
font-size: 30px;
font-family: helvetica, sans-serif;
}

h5{
  color: #11999E;
  font-size: 20px;
  font-family: helvetica, sans-serif;
  margin: 5px auto 5px auto;
}

h6{
  font-family: helvetica,sans-serif;
  color: #11999E;
  font-size: 17px;
}



p{
  font-family: Roboto-serif, serif;
  font-weight:normal;


}

hr{
  border-style: dotted;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 50px;
  border-width: thick;
  color: #EAF6F6;
  margin: 100px auto 100px auto;
}

a{
  font-family: helvetica,sans-serif;
}

a:hover {
  color: #EAF6F6;
}
/******************************CLASS SELECTORS*******************************/
.top-container {padding-top: 100px;
  background-color: #EEEEEE;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 290px;
}

.abubakar-photo {
  margin-top: 80px;
}

.Football{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;

}

.Martial-Arts{
  width: 60%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 1.5;


}

.FIFA {
  text-align: center;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 1.5;
  width: 60%;

}

.img-Football{
  margin-right: 30px;
  float: left;
}
.img-Martial-Arts{
  margin-left: 30px;
  float:right;
}

.img-FIFA{
margin-right: 30px;
float: left;
}

.btn {
  background: #a8e4e6;
  background-image: -webkit-linear-gradient(top, #a8e4e6, #095e5e);
  background-image: -moz-linear-gradient(top, #a8e4e6, #095e5e);
  background-image: -ms-linear-gradient(top, #a8e4e6, #095e5e);
  background-image: -o-linear-gradient(top, #a8e4e6, #095e5e);
  background-image: linear-gradient(to bottom, #a8e4e6, #095e5e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: helvetica,sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border: solid #1f8c87 0px;
  text-decoration: none;

}

.btn:hover {
  background: #3e5e5e;
  background-image: -webkit-linear-gradient(top, #3e5e5e, #5df5f5);
  background-image: -moz-linear-gradient(top, #3e5e5e, #5df5f5);
  background-image: -ms-linear-gradient(top, #3e5e5e, #5df5f5);
  background-image: -o-linear-gradient(top, #3e5e5e, #5df5f5);
  background-image: linear-gradient(to bottom, #3e5e5e, #5df5f5);
  text-decoration: none;
}

.footer{
  background-color: #66BFBF;
  height: 50px;
  margin-top: 80px;
  padding: 40px;
}
.Twitter{
  color: #11999E;
  margin: 0 25px 0 25px;
text-decoration: none;}

.Website{
    color: #11999E;
    margin: 0 25px 0 25px;
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 15px;
  padding: 20px 0 0;
}

.challenge-p{
  margin-bottom: 70px;
}






/******************************ID SELECTORS**********************************/
